@import url("reset.css");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 10px 46px;
  text-decoration: none;
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

/* Header */
.header {
  padding: 25px 0;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  position: relative;
  z-index: 2;
  /*  */
  background: #fff;
}

.header a {
  text-decoration: none;
  color: #212121;
}

.header :hover {
  color: #2196f3;
}

.header .active {
  color: #2196f3;
}

.header_container {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: 93px;
}

.header_list {
  display: flex;
  gap: 50px;
}

.header_contacts {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

.header_contacts a {
  color: #757575;
}

.header_sub {
  position: relative;
}

.header_submenu {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  display: none;
}

.header_sub:hover .header_submenu {
  display: block;
}

.header_submenu_item {
  position: relative;
  margin: 0 0 2px;
}

.header_submenu_2 {
  position: absolute;
  top: 0;
  right: 100%;
  text-align: center;
  display: none;
}

.header_submenu_item:hover .header_submenu_2 {
  display: block;
}

.header_submenu_item a {
  color: #000000;
  padding: 10px 20px;
  display: block;
  background: rgba(33, 150, 243, 0.3);
  border-radius: 4px;
}

.header_submenu_hover {
  margin-right: 2px;
}

.header_submenu_hover a {
  color: #000000;
  padding: 10px 20px;
  display: block;
  background: rgba(87, 170, 237, 0.3);
}

/* Hero */
.hero {
  height: 600px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  background: url("../img/fon.jpg") no-repeat center/cover;
  position: relative;
  z-index: 1;
  /*  */
  /* margin-top: 80px; */
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(47, 48, 58, 0.4);
  z-index: -1;
}

.hero_title {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  height: 120px;
  margin-bottom: 30px;
}

.hero_btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  height: 50px;
  position: relative;
  z-index: 1;
}

/* About */
.about {
  padding: 94px 0;
}

.about_cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.about_card {
  flex: 1 1 22%;
  position: relative;
  padding-top: 150px;
}

.about_card::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa url(../img/1_antenna.png) no-repeat center/70px;
}

.about_card:nth-child(2)::before {
  background-image: url(../img/2_clock.png);
}

.about_card:nth-child(3)::before {
  background-image: url(../img/3_diagram.png);
}

.about_card:nth-child(4)::before {
  background-image: url(../img/4_astronaut.png);
}

.about_card_title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about_card_desc {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 24px;
}

/* Doing */
.doing {
  padding: 0 0 94px;
}

.doing_cards {
  display: flex;
  gap: 30px;
}

.doing_card {
  flex: 1 1 33%;
  position: relative;
}

.doing_img {
  width: 100%;
  height: 294px;
  object-fit: cover;
}

.doing_card_title {
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.doing_card:hover .doing_card_title {
  opacity: 1;
}

/* Team */
.team {
  padding: 94px 0;
  background: #f5f4fa;
}

.team_cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.team_card {
  flex: 1 1 25%;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  background: #ffffff;
  max-width: 270px;
}

.team_card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.team_title {
  padding: 30px 31px 27px;
}

.team_title h3 {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.team_title p {
  font-weight: 400;
  color: #757575;
  margin-bottom: 16px;
}

.team_list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team_list a {
  display: block;
  border-radius: 50%;
}

.tean_link_icon {
  flex: 1 1 10%;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.team_list a:hover .tean_link_icon {
  fill: #ffffff;
  background-color: #2196f3;
  transition: all 0.3s;
}

/* Regular customers */

.customers {
  padding: 94px 0;
  background: #ffffff;
}

.customers_cards {
  display: flex;
  gap: 30px;
}

.customers_card_icon {
  border: 2px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  flex: 1 1 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.group {
  max-width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: all 0.3s;
}

.customers_card_icon:hover {
  border: 2px solid #2196f3;
}

.customers_card_icon:hover .group {
  fill: #2196f3;
  transition: all 0.3s;
}

/* Footer */
.footer {
  background: #2f303a;
}

.footer_container {
  display: flex;
  gap: 70px;
  align-items: center;
  padding: 60px;
}

.footer_1 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  max-width: 231px;
}

.footer_logo {
  margin-top: 90px;
  width: 145px;
  height: 31px;
}

.fotter_adress {
  color: #fff;
}

.footer_contacts {
  margin-top: 20px;
  line-height: 24px;
  display: flex;
  flex-flow: column;
  gap: 4px;
  align-items: flex-start;
}

.footer_contacts a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer_2 {
  text-transform: uppercase;
}

.footer_2 h3 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.footer_nav {
  max-width: 206px;
  height: 44px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer_icon {
  flex: 1 1 10%;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer_nav a:hover {
  fill: #ffffff;
  background-color: #2196f3;
  transition: fill 0.3s;
  border-radius: 50%;
}

/* portfolio */

/* filters */
.filters {
  margin-top: 94px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.filters a:hover {
  color: #fff;
  background-color: #2196f3;
}

.filters_btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  line-height: 28px;
  padding: 6px 27px;
}

/* project */
.project {
  background: #fff;
  margin-bottom: 94px;
}

.project_cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.project_card {
  flex: 1 1 30%;
  border: 1px solid #eeeeee;
}

.project_card_box {
  height: 294px;
  position: relative;
}

.project_card_title {
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: absolute;
  inset: 0;
  opacity: 0;
}

.project_card:hover .project_card_title {
  opacity: 1;
}

.project_title {
  padding: 20px 24px;
}

.project_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project_name {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #212121;
  line-height: 36px;
}

.project_prof {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 30px;
}


@media screen and (max-width: 1200px) {
  .team_cards {
    max-width: 715px;
    margin: 0 auto;
    justify-content: space-evenly;
  }

  .team_card {
    max-width: 320px;
  }

  .team_title {
    padding: 15px;
  }
}

@media screen and (max-width: 992px) {
  .header_logo {
    margin-right: 30px;
  }

  .header_list,
  .header_contacts {
    gap: 20px;
  }

  .hero {
    height: 400px;
  }

  .about,
  .team,
  .customers {
    padding: 30px 0;
  }

  .about_card {
    flex: 1 1 35%;
    padding-top: 130px;
  }

  .doing {
    padding: 0 0 30px;
  }

  .title {
    margin-bottom: 20px;
  }

  .team_title {
    padding: 10px;
  }

  .customers {
    max-width: 630px;
    margin: 0 auto;
  }

  .customers_cards {
    flex-wrap: wrap;
  }

  .customers_card_icon {
    flex: 1 1 25%;
  }

  .footer_container {
    padding: 30px;
  }
}